$left-bg-color: rgba(180, 37, 37, 0.7);
$right-bg-color: rgba(43, 43, 43, 0.8);
$left-btn-hover-color: rgba(43, 43, 43, 1);
$right-btn-hover-color: rgba(180, 37, 37, 1);
$hover-width: 75%;
$other-width: 25%;
$speed: 1000ms;
$fade-time: 0.5s;

#splitscreen {
  height: 70vh;
  overflow: hidden;
  margin: 0;
}

.container-split h1 {
  font-size: 4rem;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.container-split p {
  font-size: 1.5rem;
  position: absolute;
  color: #fff;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.btn-split {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  text-decoration: none;
  color: #fff;
  border: #fff solid 0.2rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 15rem;
  padding: 1.5rem;
}

.split.left .btn-split:hover {
  background-color: $left-btn-hover-color;
  border-color: $left-btn-hover-color;
  color: #fff;
}

.split.right .btn-split:hover {
  background-color: $right-btn-hover-color;
  border-color: $right-btn-hover-color;
  color: #fff;
}

.container-split {
  position: relative;
  width: 100%;
  height: 50vh;
  background: #333;
}

.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.split.left {
  left: 0;
  background: url("https://source.unsplash.com/random");
  background-repeat: no-repeat;
  background-size: cover;
}

.split.left::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $left-bg-color;
}

.split.right {
  right: 0;
  background: url("https://source.unsplash.com/collection/190727/1600x900");
  background-repeat: no-repeat;
  background-size: cover;
}

.split.right::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $right-bg-color;
}

.split.right,
.split.left,
.split.right::before,
.split.left::before {
  transition: all $speed ease-in-out;
}

.hover-left .left {
  width: $hover-width;
}

.hover-left .right {
  width: $other-width;
}

.hover-right .right {
  width: $hover-width;
}

.hover-right .left {
  width: $other-width;
}

@media (max-width: 800px) {
  .container-split h1 {
    font-size: 2rem;
    top: 30%;
  }

  .btn-split {
    padding: 1.2rem;
    width: 12rem;
  }
}
