/* Basic styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
  font-size: 16px;
}
nav {
  background: #222;
  padding: 0 15px;
}
a {
  color: white;
  text-decoration: none;
}
.menu,
.submenu {
  list-style-type: none;
}
.logo {
  font-size: 20px;
  padding: 7.5px 10px 7.5px 0;
}
.item {
  padding: 10px;
}
.item.button {
  padding: 9px 5px;
}
.item:not(.button) a:hover,
.item a:hover::after {
  color: #ccc;
}
/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  .logo {
    // display: flex;
    // justify-content: center;
    // align-items: center;

    img {
      height: 60px;
      width: 60px;
    }
  }
}
.menu li a {
  display: block;
  padding: 15px 5px;
}
.menu li.subitem a {
  padding: 15px;
}
.toggle {
  order: 1;
  font-size: 20px;
}
.item.button {
  order: 2;
}
.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}
.active .item {
  display: block;
}
.button.secondary {
  /* divider between buttons and menu links */
  border-bottom: 1px #444 solid;
}
/* Submenu up from mobile screens */
.submenu {
  display: none;
}
.submenu-active .submenu {
  display: block;
}
.has-submenu i {
  font-size: 12px;
}
.has-submenu > a::after {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  // content: "\f078";
  color: white;
  padding-left: 5px;
}
.subitem a {
  padding: 10px 15px;
}
.submenu-active {
  background-color: #111;
  border-radius: 3px;
}

// Products
#portoflio .page-section {
  padding: 0px;
}

#portfolio .section-heading {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #33c1cf;
  height: 732px;
  margin-left: -100vh;
  padding-left: 100vh;
}

#portfolio .project-item {
  margin: 0px -16px;
}

#portfolio .section-heading h4 {
  margin-top: 0px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
}

#portfolio .section-heading .line-dec {
  width: 270px;
  height: 1px;
  background-color: rgba(250, 250, 250, 0.5);
  margin: 20px 0px 15px 0px;
}

#portfolio .section-heading p {
  color: #fff;
  padding-right: 70px;
}

@import "media";
@import "slideshow";
@import "fold";
@import "splitscreen";
